*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 70px 10%;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
}

.social-media-container {
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ten-container {
    color: hsl(39, 100%, 71%);
}