*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(260, 50%, 98%);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 2% auto;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;
    width: 60%;

}


/* social media box */
.social-media-container {
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

.social-media-container h1 {
    padding: 20px 40px;
    font-size: 250%;
}

.social-media-container h5 {
    padding-bottom: 45px;
    font-size: small;
    
}

.social-media-container img {
    width: 140px;
    margin: auto;
}

.ten-container {
    color: hsl(39, 100%, 71%);
}


/* create box */
.create-content-container {
    background-color: hsl(31, 66%, 93%);
    grid-row: span 2;
}

.create-content-container h3 {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 30px;
    text-align: left;
}

.create-content-container img {
    width: 75%;
    margin: auto;
}
.quicker-text {
    color: hsl(256, 67%, 59%);
}

/* manage box */

.schedule-container {
    background-color: hsl(254, 88%, 90%);
    grid-row: span 3;
    overflow: hidden;
    width: 100%;
}

.schedule-container h3 {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 20px;
    text-align: left;
    line-height: 1em;
}

.schedule-container img {
    padding-left: 20px;
    width: 400%;
    height: 40%;
    object-position: left;
}

.schedule-container p {
    padding: 60px 20px 0px 20px;
    font-size: small;
    box-sizing: border-box;
}

/* write box */

.write-container {
    background-color: hsl(39, 100%, 71%);
    grid-row: span 2;
}

.write-container h3 {
    font-size: x-large;
    font-weight: bold;
    padding: 20px 20px;
    text-align: left;
    line-height: 1em;
}

.write-container img {
    width: 80%;
    margin: 20px auto;
    
}


/* manage container */
.manage-container {
    width: 50%;
    background-color: hsl(0, 0%, 100%);
}

.manage-container h3 {
    font-size: x-large;
    font-weight: 400;
    padding: 20px 20px;
    text-align: left;
    line-height: 1em;
}

.manage-container img {
    padding: 10px;
    width: 200%;
}

.maintain-container {
    width: 50%;
    background-color: hsl(39, 100%, 71%);
    box-sizing: border-box;
}

.maintain-container img {
    width: 80%;
    margin: 30px auto;
    margin-bottom: 0px;
}

.maintain-container h3 {
    font-size: x-large;
    font-weight: bold;
    padding: 10px 10px;
    text-align: left;
    line-height: 1em;
}